.businessDetailsHeader{
  width: 100%;
  display: flex;
  justify-content:flex-start;
  align-items:center;
  margin-bottom: 5rem;

  .businessDetailsText{
    margin-left: 3rem;
    h1{
      font-weight: 600;
      margin: 0;
      font-size: 24px;
    }
    p{
      margin: 0;
    }
  }
}

.businessDetailsForm{
  width: 100%;

  .permitSubmitInputWrapper{
    width: 100%;
    
  }
  .btnWrapper{
    margin: 5rem 0 0rem 0;
  }
}
.ant-form-vertical .ant-form-item:not(:last-child) {
  margin-right: 0rem !important;
}