.businessDetailsHeader{
  width: 100%;
  display: flex;
  justify-content:flex-start;
  align-items:center;
  margin-bottom: 5rem;

  .businessDetailsText{
    margin-left: 3rem;
    h1{
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 32px;
      color: #323D44;
      margin: 8px 0px;
    }
    p{
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 2opx;
      line-height: 20px;
      color: #637A87;
      margin: 8px 0px;
    }
  }
}

.businessDetailsForm{
  width: 100%;

  .permitSubmitInputWrapper{
    width: 100%;
    
  }
  .btnWrapper{
    margin: 5rem 0 0rem 0;
  }
}
.ant-form-vertical .ant-form-item:not(:last-child) {
  margin-right: 0rem !important;
}