.tripManagementWrapper{
  width: 100%;

  .tripManagementHeader{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5.title{
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      color: #323D44;
      padding: 0;
      margin: 0;
    }

    .tripManagementSelectWrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .datePicker{
        margin-top: -2.5rem;
      }
    }
  }

  .tripManagementContent{
      width: 100%;
    .tripDate{
      width: 100%;
      padding:.5rem 0rem;
      display: grid;
      grid-template-columns: .3fr .3fr 6fr;
      justify-content:center;


      p{
        margin-top: -5px;
        padding: 0;
      }

      .seperator{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items:center;
    
        .circle{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #6FCF97;
        }    
        .dottedLine{
          width: 10px;
          min-height: 5rem;
          margin-left: -1rem;
          border-right: 1px dotted #6FCF97;
        }
      }
    }
  }
}