input.input {
	background: transparent;
	border: none;
	outline: none;
	transition: all 0.2s;
	border: 1px solid #637a87;
	padding: 1.6rem;
	border-radius: 2px;
	@include fontNormal(1.5rem, 1.9rem, $grey);

	&:focus {
		outline: none;

		&:invalid {
			border-bottom: 1px solid orangered;
		}
	}

	&::-webkit-input-placeholder {
		@include fontNormal(1.6rem, 2rem, $grey-3);
	}
}

label.formLabel {
	@include fontNormal(1.4rem, 2.2rem, rgba(0, 0, 0, 0.25));
	color: rgba(0, 0, 0, 0.65);
	margin-bottom: 1.5rem;
}

input.formInput {
	background: transparent;
	border: none;
	outline: none;
	transition: all 0.2s;
	padding: 0.85rem 1.2rem;
	@include fontNormal(1.4rem, 2.2rem, $black);
	background: $white;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	width: 100%;

	&:focus {
		outline: none;

		&:invalid {
			border-bottom: 1px solid orangered;
		}
	}

	&::-webkit-input-placeholder {
		@include fontNormal(1.4rem, 2.2rem, rgba(0, 0, 0, 0.25));
	}
}
