.addTerminalWrapper{
  width: 100%;
  .addTerminalHeader{
    width: 100%;
    
  }
  .addTerminalForm{
    width: 100%;
    .inputRow{
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      &:last-child{
        margin-top:2rem ;
      }

      .full{
        flex: 1;

          .jss4.jss2 {
            color: #FFBC00;
          }
          .jss19 {
            fill: #FFBC00;
            width: 1em;
            height: 1em;
            display: inline-block;
            font-size: 24px;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            user-select: none;
            flex-shrink: 0;
            stroke: #FFBC00;
            stroke-width: 1;
        }
      }

      .left{
        flex-basis: 50%;
      }
      .right{
        flex: 1;
      }
    }
  }
}

input[type="checkbox"] {
  background-color: red !important;
  cursor: default;
  appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}