.howItWorksCardWrapper {
  background: #ffffff;
  border: 1px solid #e3eaed;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 3.2rem 2.2rem;

  .iconWrapper {
    margin-bottom: 3rem;
  }
}
