.seatsArrangementsWrapper {
    background: #F6F8F9;
    padding: 25px 28px 24px;
    display: inline-block;
    margin-bottom: 45px;
    margin-top: 29px;
    .ant-checkbox-wrapper {
        margin-bottom: 0px !important;
        .ant-checkbox-checked::after {
            border: none !important;
        }
        .ant-checkbox .ant-checkbox-inner {
            background: #E3EAED;
            border-radius: 13.4375px 0px 0px 13.4375px;
            border: none;
            margin-bottom: 5px;
            width: 32.25px !important;
            height: 32.25px !important;
        }
        .ant-checkbox-checked .ant-checkbox-inner {
            background: #240555 !important;
        }
        .ant-checkbox-checked .ant-checkbox-inner::after {
            display: none !important;
        }
    }
}