.tableWrapper {
	font-family: Inter;
	.ant-table table {
		border-spacing: 0px 15px;
		border-collapse: separate;
	}
	.tableThead,
	.ant-table-thead > tr {
		& > th {
			background: #fff !important;
			border-bottom: 1px solid #fff;
			font-family: Inter;
			font-style: normal;
			font-weight: normal !important;
			font-size: 14px !important;
			color: #637a87;
			padding: 0px 26px;
		}
	}

	.tableTbody {
		background: #fff !important;
		border-radius: 10px !important;
		margin-bottom: 20px;
		padding: 16px 26px;
		border: 1px solid #e3eaed !important;
		display: flex;
		align-items: center;
	}

	.ant-table-tbody > tr {
		margin-bottom: 100px !important;
		& > td {
			background: #fff !important;
			margin-bottom: 20px;
			padding: 16px 26px;
			border-top: 1px solid #e3eaed !important;
			border-bottom: 1px solid #e3eaed !important;
			&:nth-child(1) {
				border-top-left-radius: 10px !important;
				border-bottom-left-radius: 10px !important;
				border-left: 1px solid #e3eaed !important;
			}
			&:last-child {
				border-top-right-radius: 10px !important;
				border-bottom-right-radius: 10px !important;
				border-right: 1px solid #e3eaed !important;
			}
			p {
				margin-bottom: 0px;
				font-family: Inter;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 32px;
				color: #323d44;
			}
			span {
				font-family: Inter;
				font-style: normal;
				font-size: 14px;
				line-height: 32px;
				color: #637a87;
			}
			.status {
				padding: 8px 16px;
				background: rgba(255, 150, 51, 0.2);
				border-radius: 100px;
				font-family: Inter;
				font-style: normal;
				font-size: 16px;
				text-align: center;
				line-height: 32px;
				color: #ff9633;
				text-align: center;
			}
			button.view {
				padding: 8px 16px;
				background: #ffffff;
				border: 1px solid #a8a8a8;
				box-sizing: border-box;
				border-radius: 100px;
				font-family: Inter;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				color: #240555;
			}
		}
		&:nth-child(1),
		&:last-child {
			border: none;
		}
	}
}
