.transcoServiceWrapper{
  background-color: #F8EAC2;
  padding: 5rem 0 1rem 0rem;
  border-radius: 10px;
  
  .titleAndContent{
    width: 100%;
    padding: 0 2rem;
    text-align: center;

    h1{
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 32px;
      color: #240555;
      margin-bottom: 1.5rem;
    }
    p{
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: #0E0D30;
    }
  }
  img{
    margin-top: 8rem;
    margin-left: 13rem;
  }
  img.hire{
    margin-left: 4rem;
  }
}