.transcoServiceWrapper {
	background-color: #f8eac2;
	border-radius: 10px;

	.titleAndContent {
		width: 100%;
		padding: 4rem;
		text-align: center;
	}

	.imgBG {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
    padding-bottom: 4rem;

		.btn {
			padding: 1.8rem 2rem;
		}
	}
}
