.emptyScreen {
    padding-top: 94px;
    padding-bottom: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        height: 82px;
        width: 82px;
    }
    h3 {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        color: #323D44;
        margin-top: 32px;
        margin-bottom: 0px;
    }
    p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #323D44;
        margin-top: 20px;
        margin-bottom: 72px;
    }
}