.loginWrapper{
  width: 100vw;
  height: 100vh;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items:center;

  p{
    font-size: 13px;
  }
  .loginContent{
    width: 50%;
    background-color: #ffffff;
    padding: 10rem 15rem;
    color: #637A87;

    .loginText{
      width:80%;
      margin-bottom: 3rem;

      h1{
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
    }

    .loginForm{
      width: 100%;

      .btnWrapper{
          margin: 5rem 0rem 1rem 0rem;
      }

      .forgotPassword{
        width: 100%;
        margin-bottom: 5rem;
        
        p{
          text-align: center !important;
        }
      }
    }
    .newUser{
      width: 100%;
      font-size: 13px;
      text-align: center;
      color: #333333;

      a{
          color: #FFD301;
      }
    }
  }
}

@media (max-width: 1024px){
  .loginWrapper{
    width: 100vw;
    .loginContent{
      width: 70%;
    }
  }
}

@media (max-width: 768px){
  .loginWrapper{
    width: 100vw;
    .loginContent{
      width: 85%;
      padding: 5rem 9rem;
    }
  }
}

@media (max-width: 600px){
  .loginWrapper{
    width: 100vw;
    .loginContent{
      width: 95%;
      padding: 5rem 7rem;
    }
  }
}

@media (max-width: 414px){
  .loginWrapper{
    width: 100vw;
    .loginContent{
      width: 100%;
      padding: 5rem 5rem;
    }
  }
}