{
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines",
    "stylelint-config-recommended-scss",
    "stylelint-config-standard"
  ],
  "rules": {
    "indentation": "tab",
    "number-leading-zero": null,
    "max-nesting-depth": 5,
    "color-named": "ignore"
  }
}