@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');


//fonts
$primaryFont:'Inter', sans-serif;
$boldFont:'Inter';
$light:'Inter';


//colors
$blue:#19194A;
$blueDark:#0E0D30;
$blueLight:#19194A;
$black:#323D44;
$nearWhite:#FAFAFA;
$white:#ffffff;
$nearWhite:#EFF1F5;
$greyDark:#637A87;
$grey:#637A87;
$greyLight:#F6F8F9;
$brand1: #240555;
$brand2: #FFBC00;
$brand3:#FFD301;
$success:#2E7B32;
$danger:#D90855;
$warning:#FF9633;
$warmBG:#f7f9f8;

$grey-c:#cccccc;
$grey-4:#c4c4c4;
$grey-3:#333333;
$grey-9:#999999;
$grey-6:#666666;
$purple:#E5EBFF;
$border: 1px solid #E6E6E6;

