.transcoServiceWrapper {
	background-color: #f8eac2;
	border-radius: 10px;

	&:hover {
		.imgBG {
			.btn {
				opacity: 1;
			}
		}
	}

	.titleAndContent {
		width: 100%;
		padding: 4rem;
		text-align: center;
	}

	.imgBG {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		padding-bottom: 4rem;

		.btn {
			background: linear-gradient(180deg, #fade90 0%, #f3b348 93.23%, #cb820b 100%);
			border-radius: 6px;
			padding: 1.8rem 3.2rem;
			font-size: 2rem;
			line-height: 2rem;
			letter-spacing: 0.45px;
			text-transform: uppercase;
			color: #323d44;
			opacity: 0;
			transition: opacity ease-in-out 0.3s;
		}
	}
}
