select {
	appearance: none;
	background: url('../../../../assets/svg/warning.svg') no-repeat right white;
	background-position-x: 97%;
	border: 1px solid #637a87;
	border-radius: 2px;
	display: block;
	height: 45px;
	outline: none;
	padding-left: 2em;
	padding-right: 2em;
	width: 100%;

  @media (max-width: 576.98px) {
    height: 45px;
  }
}

select:invalid {
  color: rgba(0, 0, 0, 0.25);
}

option {
  color: black;
}

.input-error-message {
  color: red;
  margin-top: 1em;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
}

.inner-wrapper {
  position: relative;
}
