.vehicle-specs {
  color: #637a87;
  font-size: 0.8rem;
  font-weight: bold;

  ul {
    list-style-type: none;

    li {
      align-items: flex-start;
      display: flex;
      margin-top: 0.5em;

      span {
        margin-left: 1em;

        @media (max-width: 1024.98px) {
          font-size: 0.5rem;
        }
      }
    }
  }
}
