.searchNavWrapper{
  width:100%;
  display:flex;
  background: #FFFFFF;
  box-shadow: 2px 15px 30px 10px rgba(43, 43, 59, 0.05);
  border-radius: 0px 0px 10px 10px;
  padding: 1rem 0rem 1rem 2rem;

  p{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    color: #323D44;
  }

  .sourceDestination{
    display:flex;
    align-items: center;
    flex-basis: 25%;
    justify-content:space-between;
    border-right: 1px solid #E3EAED;
    padding: 2rem 3rem 2rem 0rem;

    .arrowsWrapper{
      display:flex;
      flex-direction: column;
    }
  }

  .returnWrapper{
    flex-basis: 20%;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    border-right: 1px solid #E3EAED;

    p{
      margin-right: 2rem;
      // margin-top: 2rem;
    }

    img{
      height: 20px;
      width: 30px;
      cursor: pointer;
    }
  }

  .dateSearch{
    flex: 1;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content:space-between;

    .rangePickerWrapper{
      flex-basis: 80%;
      margin-right: 1rem;
      display: flex;
      align-items: center;
    }
    .buttonWrapper{
      flex: 1;
    }
    
  }
}

.ant-picker-input > input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -ms-flex: auto;
  flex: auto;
  min-width: 1px;
  height: auto;
  padding: 0;
  background: transparent;
  border: 0;
  font-size: 22px !important;
  line-height: 32px !important;
  color: #323D44 !important;
}
.ant-picker-range .ant-picker-active-bar {
  bottom: -1px;
  height: 2px;
  margin-left: 11px;
  background: #FFD301 !important;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  pointer-events: none;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border: 1px solid #FFD301 !important;
  color: #fff !important;
  border-radius: 50% !important;
  content: '';
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background: #FFD301 !important;
  border-radius: 50% !important;
}


// rsuite styles
.rs-picker-daterange-header {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-bottom: 1px solid #e5e5ea;
  text-align: center;
}

.rs-picker-menu .rs-calendar .rs-calendar-month-dropdown-cell-content, .rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.rs-calendar-table-cell-selected .rs-calendar-table-cell-content, .rs-calendar-table-cell-in-range .rs-calendar-table-cell-content {
  z-index: 1;
  position: relative;
  color: #FF9633;
}
.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  color: #ffffff;
  border-color: #FFBC00;
  background-color: #FFBC00;
}
.rs-picker-date .rs-picker-toggle.rs-btn-lg, .rs-picker-daterange .rs-picker-toggle.rs-btn-lg {
  padding-right: 42px;
  background: transparent;
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #323D44;
  margin-left: 1rem;
}

.rs-picker-daterange-menu .rs-calendar {
  display: inline-block;
  width: 350px;
  height: 278px;
  padding-bottom: 12px;
}
.rs-picker-daterange-header {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-bottom: 1px solid #e5e5ea;
  text-align: center;
  width: 700px;
}
.rs-picker-daterange-menu .rs-picker-toolbar {
  margin-top: 4px;
  max-width: 700px;
}

.rs-picker-date .rs-picker-toggle.rs-btn-lg .rs-picker-toggle-caret, .rs-picker-daterange .rs-picker-toggle.rs-btn-lg .rs-picker-toggle-caret {
  left: 0px;
  width: 21px;
  height: 34px;
  display: none;
}
.rs-picker-toggle .rs-picker-toggle-placeholder {
  color: #8e8e93;
  margin-left: 1rem;
}
.rs-picker-date .rs-picker-toggle.rs-btn-lg .rs-picker-toggle-clean, .rs-picker-daterange .rs-picker-toggle.rs-btn-lg .rs-picker-toggle-clean {
  right: 24px;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
}