.company-wrapper {
	.image-container {
		width: 100px;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
	p {
		font-weight: bold;
		font-size: 0.8rem;
		color: #323d44;
	}
	.rating-review {
		span {
			font-weight: 500;
			font-size: 1rem;
			letter-spacing: 0.45px;
			text-transform: uppercase;
		}
		small {
			font-weight: bold;
			font-size: 0.8rem;
			color: #637a87;
		}
	}
	@media (max-width: 576.98px) {
		p {
			display: none;
		}
		.rating-review {
			small {
				font-size: 0.5rem;
			}
		}
		.star {
			width: 16px;
			height: 16px;
		}
	}
}
