.registrationWrapper{
  width: 100vw;
  height: 100vh;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items:center;

  p{
    font-size: 13px;
  }
  .registrationContent{
    width: 50%;
    background-color: #ffffff;
    padding: 5rem 15rem;
    color: #637A87;

    .registrationHeader{
      width: 100%;
      display: flex;
      justify-content:flex-start;
      align-items:center;
      margin-bottom: 5rem;

      .registrationText{
        margin-left: 3rem;
        h1{
          font-weight: 600;
          margin: 0;
        }
        p{
          margin: 0;
        }
      }
    }

    .registrationForm{
      width: 100%;

      .btnWrapper{
          margin:5rem 0 2rem 0;
      }

      .verificationText{
        width: 100%;
        
        p{
          text-align: center !important;
        }
      }
    }
    .privacyPolicy{
      width: 100%;
      font-size: 13px;
      text-align: center;
      margin-top: 5rem;

      .termsConditions, .privacyStatement{
          color: #FFD301;
      }
    }
  }
}

@media (max-width: 1024px){
  .registrationWrapper{
    width: 100vw;
    .registrationContent{
      width: 70%;
    }
  }
}

@media (max-width: 768px){
  .registrationWrapper{
    width: 100vw;
    .registrationContent{
      width: 85%;
      padding: 5rem 9rem;
    }
  }
}

@media (max-width: 600px){
  .registrationWrapper{
    width: 100vw;
    .registrationContent{
      width: 95%;
      padding: 5rem 7rem;
    }
  }
}

@media (max-width: 414px){
  .registrationWrapper{
    width: 100vw;
    .registrationContent{
      width: 100%;
      padding: 5rem 5rem;
    }
  }
}
