.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5.3rem;

	small {
		display: block;
		font-weight: bold;
		span {
			color: #637a87;
		}
	}
	h2 {
		font-weight: 500;
		font-size: 40px;
		line-height: 44px;
		margin-bottom: 0;
	}
}
.second-column {
	text-align: center;
}
.star-container {
	margin: 0.8em 0;
}

.image-wrapper {
	width: 167.83px;
	height: 80px;
	img {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 576.98px) {
	.header-wrapper {
		.first-column {
			h2 {
				display: none;
			}
		}
		.rate-wrapper {
			display: flex;
			align-items: center;
			h2 {
				font-size: 1rem;
				margin-right: 0.5em;
				font-weight: 700;
			}
			.star {
				width: 18px;
				height: 13px;
			}
		}
		.star-container {
			margin: 0;
		}
		.image-wrapper {
			width: 114px;
			height: 54.34px;
		}
		small {
			font-weight: normal;
		}
	}
}
