@import '../../../atoms/styles/basestyles';

.hero {
	&--header {
		background-color: $brand1;
		padding: 9rem 14rem;
		position: relative;

		@include respond(tab-port) {
			height: auto;
			padding: 4rem;
			padding-bottom: 8rem;
		}

		&.search-tab {
			padding: 3rem 14rem;
			height: auto;

			@media (max-width: 1200px) {
				padding: 3rem 4rem;
			}
		}

		h2 {
			@include font-bold(4.8rem, 6rem, $white);

			font-weight: 800;
		}
	}
}

.herotab--content {
	min-height: 5rem;
}

.booking--container {
	margin: 4rem auto;
	width: 80%;
	display: flex;
	justify-content: space-between;

	@media (max-width: 1200px) {
		width: 90%;
	}

	@include respond(tab-port) {
		flex-wrap: wrap;
	}
}

.booking--main {
	flex-basis: 65%;
	border: 1px solid #e3eaed;
	border-radius: 10px;
	padding: 24px 54px;

	@include respond(tab-port) {
		flex-basis: 100%;
	}

	@include respond(phone) {
		padding: 24px;
	}
}

.booking--side {
	flex-basis: 30%;
	background: #ffffff;

	@include respond(tab-port) {
		flex-basis: 100%;
		margin-top: 2rem;
	}
}

.booking-aside-item {
	padding: 24px;
}

.booking--refund {
	background: #f6f8f9;
	border-radius: 10px;
}

.booking--form {
	display: flex;
	flex-direction: column;
}

.booking--trip {
	// background-color: turquoise;
}

.bordered--bottom {
	border-bottom: 1px solid #e3eaed;
}

.btn--return {
	background-color: transparent;
	display: flex;
	align-items: center;
	height: 4rem;

	span {
		margin-left: 1rem;
		@include font-normal(2.5rem, 3.2rem, $white);
	}
}

.clickable {
	cursor: pointer;
}

.date--selector {
	opacity: 0.5;
	border: 1px solid #e3eaed;
	border-radius: 10px;
	padding: 1.4rem 2.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.booking-bus {
	min-height: 15rem;
	// width: 50rem;
	// margin-left: 5rem;
	display: flex;
}

.boooking-seat-container {
	flex-basis: 45%;
	margin-left: auto;

	@include respond(tab-md) {
		flex-basis: 100%;
		margin-top: 2rem;
	}
}

.booking-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-basis: 10%;
}

.booking-seat {
	background-color: #e3eaed;
	width: 18px;
	height: 18px;
	margin-bottom: 8px;
	border-radius: 16px 0px 0px 16px;
	cursor: pointer;

	@include respond(tab-md) {
		width: 25px;
		height: 25px;
	}
}

.selected {
	background-color: #ff9633;
}

.reserved {
	background-color: #240555;
	// pointer-events: none;
}

p.badgeItem {
	background: rgba(176, 0, 32, 0.1);
	border-radius: 100px;
	padding: 0.6rem 1.6rem;

	&.badgeGreen {
		background-color: rgba(111, 207, 151, 0.2);
		color: #2e7b32;
	}

	&.badgeYellow {
		background-color: #f8eac2;
		color: #c76100;
	}
}
