.button-theme-default {
	background: linear-gradient(180deg, #fade90 0%, #f3b348 93.23%, #cb820b 100%);
	border-radius: 6px;
	color: #323d44;
	font-size: 20px;
	font-weight: 500;
	height: 56px;
	letter-spacing: 0.45px;
	text-transform: uppercase;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	width: 100%;

	&:hover {
		opacity: 0.9;
	}
	// a {
	// 	display: block;
	// 	height: 100%;
	// 	width: 100%;
	// }
}

.button-bg-default {
	background: linear-gradient(180deg, #fade90 0%, #f3b348 93.23%, #cb820b 100%);
}

.loader {
	width: 45px;
	height: 45px;
}
