.ant-switch-handle {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 50px;
  height: 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 55px);
}
.ant-switch-checked {
  background-color: rgba(39, 174, 96, 0.2) !important;
  padding: 1rem 4rem 3rem 4rem;
  
}
.ant-switch-checked .ant-switch-inner {
  margin: 0 25px 0 7px;
  color: #2E7B32 !important;
  font-size: 18px;
}
.ant-switch-handle::before {
    position: absolute;
    top: .1rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 45%;
    box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
    transition: all 0.2s ease-in-out;
    content: '';
}

.ant-switch {
  margin: 0;
  padding: 1rem 4rem 3rem 4rem;
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px !important;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum", "tnum";
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 44px;
  height: 28px;
  line-height: 22px;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-user-select: none;
  user-select: none;
}

.ant-switch-inner {
  display: block;
  margin: 0 7px 0 25px;
  font-size: 18px;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
}