.info-wrapper {
  h2,
  h4,
  small,
  p {
    font-weight: bold;
  }
  p {
    margin: 0;
  }
  & > div {
    margin: 2em 0;
  }
  p,
  small {
    font-size: 14px;
    line-height: 20px;
    color: #637a87;
  }
  h4 {
    font-size: 1rem;
    color: #323d44;
  }
  .image-wrapper {
    width: 100%;
    height: 330px;
    margin-bottom: 0.8em;
    margin-top: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .company-info {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.4em;
    }
  }
  .car-info {
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 0.8em;
        small {
          margin-left: 0.8em;
        }
      }
    }
  }
}
