.input {
	@include fontNormal(1.5rem, 1.9rem, $grey);

	background: transparent;
	border: 0;
	border: 1px solid #637a87;
	border-radius: 2px;
	outline: none;
	padding: 1.6rem;
	transition: all 0.2s;

	&::placeholder {
		@include fontNormal(1.6rem, 2rem, $grey-3);
	}

	&:focus {
		outline: none;

		&:invalid {
			border-bottom: 1px solid orangered;
		}
	}
}

.form-label {
	@include fontNormal(1.4rem, 2.2rem, rgba(0, 0, 0, 0.25));

	color: rgba(0, 0, 0, 0.65);
	margin-bottom: 1.5rem;
}

.form-input {
	@include fontNormal(1.4rem, 2.2rem, $black);

	background: transparent;
	background: $white;
	border: 0;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	outline: none;
	padding: 0.85rem 1.2rem;
	transition: all 0.2s;
	width: 100%;

	&:focus {
		outline: none;

		&:invalid {
			border-bottom: 1px solid orangered;
		}
	}

	&::placeholder {
		@include fontNormal(1.4rem, 2.2rem, rgba(0, 0, 0, 0.25));
	}
}
