.titlePane {
    background: #240555;
    padding: 34px 130px;
    display: flex;
    align-items: center;
    img {
        margin-right: 16px;
    }
    h4 {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 0px;
    }
}

@media (max-width:1024px){
    .titlePane {
        width: calc(100% + 180px);
    }
}

//media queries max-width:768px
@media (max-width:768px){
    .titlePane {
        width: calc(100% + 690px);
    }
  }

  //media queries max-width:414px
@media (max-width:414px){
    .titlePane {
        width: calc(100% + 720px);
    }
  }

  //media queries max-width:375px
@media (max-width:375px){
    .titlePane {
        width: calc(100% + 750px);
    }
  }