.tripInventoryWrapper{
  width: 100%;
  .tripInventoryHeader{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 2rem;

    h5.title {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 32px;
      color: #323D44;
      padding: 0;
      margin: 0;
    }
    .btnWrapper{
      flex-basis: 20%;
    }
  }

  .tripInventoryContent{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .contentSidebar{
      border: 1px solid #E3EAED;
      flex-basis: 20%;
      padding: 2rem 3rem;
      border-radius: 10px;
    }
    .contentMain{
      flex-basis: 78%;
    }
  }
}



// ant designs styles
.ant-checkbox-group {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 2.5715 !important;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  display: flex !important;
  flex-direction: column !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #FFD301 !important;
  border-color: #FFD301 !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #FFD301 !important;
  border: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  content: ' ';
}

.ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #FFD301 !important;
}

.ant-pagination-item-active a {
  color: #ffbc00 !important;
}
.ant-pagination-options-quick-jumper input {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid  #ffbc00 !important;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 50px;
  margin: 0 8px;
}