.trip-date-container {
	margin-top: 2em;
	ul {
		list-style-type: none;
		li {
			margin-top: 1em;
			display: flex;
			align-items: center;
			p {
				margin: 0;
			}
			p,
			small {
				margin-left: 1em;
			}
		}
	}
	.badge {
		small {
			border-radius: 100px;
			padding: 6px 16px;
			font-weight: 500;
			font-size: 12px;
		}
		.available {
			color: #c76100;
			background: #f8eac2;
		}
		.not-available {
			background: rgba(176, 0, 32, 0.1);
			color: #c76100;
		}
	}
}
