@import '../../../styles/abstract/basestyles';

.row {
	margin: 0;
}

.stWrapper {
	padding: 5rem 14rem;

	.stItems {
		.TripSearchItemWrapper {
			border: 1px solid #e3eaed;
			border-radius: 10px;
		}
	}
}
