@import '../../styles/abstract/basestyles';

.howItWorksWrapper {
	width: 100%;
	margin-bottom: 10rem;

	.howItWorksHeader {
		width: 100%;
		margin-bottom: 3rem;
		
		h1 {
			@include fontBold(2.8rem, 4.4rem, $black);
		}
		p {
			@include fontNormal(1.9rem, 2.4rem, $black);
		}
	}
	.howItWorksCards {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 28rem);
		grid-gap: 2rem;

		@include respond(tab-port) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include respond(phone) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
