
.emailVerificationHeader{
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 3rem;

  .emailIconWrapper{
    width: 90px;
    height: 90px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #F8EAC2 !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
}

.otpVerifyMessageWrapper{
  text-align: center;
  margin-bottom: 7rem;
  h1{
    margin: 0;
    font-weight: bold;
  }
}

form{
  width: 100%;
  .otpInputWrapper{
    width: 100%;
    margin-bottom: 7rem;
  }

}

.resetOTPWrapper{
  width: 100%;
  text-align: center;
  margin: 3rem;
}

.ant-form-vertical .ant-form-item{
  &:not(:last-child){
    margin-right: 1rem !important;
  }
}

@media (max-width: 600px){
  .resetOTPWrapper{
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 2rem;
  }
}
