@import '../../../atoms/styles/basestyles';

@mixin li-tab {
	li {
		@include flex-center;
		@include font-normal(1.6rem, 2rem, $black);

		flex-basis: 25%;
		flex-grow: 0;
		flex-shrink: 0;
		padding: 2rem;
		overflow: hidden;

		@include respond(lsc) {
			flex-basis: 100%;
		}

		&:not(:last-child) {
			border-right: 1px solid $grey;

			@include respond(lsc) {
				border-right: 0;
				border-bottom: 1px solid $grey;
			}
		}

		a {
			color: $black;
		}

		select {
			background-color: transparent;
			border: 0;
			padding: 0;
			padding-right: 1rem;

			option {
				@include font-normal(1.5rem, 2rem, $black);
			}
		}

		svg {
			margin: 0 1.5rem;
		}

		.btn {
			color: $black;
		}
	}
}

.hero {
	&__header {
		background-color: $brand1;
		height: 38rem;
		padding: 9rem 14rem;
		position: relative;

		@include respond(tab-port) {
			height: auto;
			padding: 5rem;
			padding-bottom: 8rem;
		}

		&.search-tab {
			padding: 3rem 14rem;
			height: auto;
			background-color: $brand1;

			@media (max-width: 1200px) {
				padding: 3rem 4rem;
			}

			@include respond(lsc) {
				padding: 5rem;
			}

			ul {
				background-color: $white;
				border-radius: 10px;
				display: flex;
				@include li-tab;

				@include respond(lsc) {
					flex-wrap: wrap;
				}

				li {
					appearance: none;

					button.btn .btn-brand-2 .black {
						color: #323d44;
					}
				}
			}
		}

		h2 {
			@include font-bold(4.8rem, 6rem, $white);

			font-weight: 800;
		}
	}
}

.herotab--content {
	background-color: $white;
	border-radius: 0 0 10px 10px;
	box-shadow: 2px 15px 30px 10px rgba(43, 43, 59, 0.05);
	margin: 0 14rem;
	min-height: 5rem;

	@include respond(tab-port) {
		margin: 0 4rem;
	}
}

.empty--state {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 30rem;

	figure {
		margin: 0;
	}
	svg {
	}
}
