@import '../../../atoms/styles/basestyles';

.searchContainer {
	padding: 5rem 14rem;
	background-color: rgba($near-white, 0.5);
	display: flex;
	justify-content: space-between;

	@include respond(tab-port) {
		padding: 5rem 8rem;
	}

	@include respond(tab-port) {
		flex-wrap: wrap;
		padding: 5rem;
	}

	.searchFilter {
		background-color: transparent;
		flex-basis: 30rem;
		margin-right: 2.6rem;

		@include respond(tab-port) {
			flex-basis: 100%;
			margin-right: 0;
			margin-bottom: 2rem;
		}

		.filterBlock {
			border-bottom: 1px solid #e3eaed;
			background-color: $white;
			padding: 3rem 2rem;

			&:first-child {
				border-radius: 10px 10px 0px 0px;
			}

			&:last-child {
				border: none;
				border-radius: 0px 0px 10px 10px;
			}

			&--check {
				margin-bottom: 1rem;
				align-items: center;

				input {
					margin-right: 8px;
				}
			}
		}

		h2 {
			@include font-normal(1.8rem, 2rem, $black);
			margin-bottom: 2rem;
		}
	}

	.searchItems {
		flex-basis: auto;
		flex-grow: 1;

		@include respond(lsc) {
			flex-basis: 100%;
			overflow: hidden;
		}

		&__tabs {
			@include respond(tab-port) {
				margin-top: 2rem;
			}
			button {
				outline: none;
				border: none;
				background-color: $near-white;
				padding: 1.6rem 3.2rem;
				@include flex-center;
				@include font-normal(1.6rem, 2.4rem, $black);

				&:first-child {
					border-radius: 8px 0px 0px 8px;
				}

				&.activeBtn {
					color: $brand2;
					background-color: $white;
				}
			}
		}
	}
}
