.bookTripWrapper{

  .bookTripHeader{
    display: flex;
  }

  .vehicleCards{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,36.8rem);
    grid-gap: 15px;
    min-height: 5rem;
  }
}
