@import '../../../../atoms/styles/basestyles';

.advertWrapper {
	width: 100%;
	margin: 5rem 0;

	@include respond(lsc) {
		flex-wrap: wrap;

		.tsrow-sm,
		.tsrow-lg {
			flex-basis: 100%;
		}
	}

	@include respond(phone) {
		.tsrow-lg {
			.ad2 {
				flex-wrap: wrap;
				.col_2 {
					flex-basis: 100%;
				}
			}
		}
	}

	.advertCard {
		background-color: $warm-bg;
		padding: 3.3rem 3.7rem;
		margin-bottom: 2rem;
		border-radius: 12px;

		&.col_2 {
			width: 48%;
		}

		.advertBadge {
			background-color: $brand2;
			padding: 1rem 1.6rem;
			border-radius: 10px;
			width: 13rem;

			@include respond(lsc) {
				width: 20rem;
			}

			@include respond(phone) {
				width: 25rem;
			}
		}
	}
}
