.seat-position-container {
	padding-top: 2em;
	.header {
		h5 {
			font-weight: 500;
			font-size: 14px;
			color: #323d44;
		}
		p {
			font-weight: normal;
			font-size: 14px;
			color: #637a87;
		}
	}
}
