@import '../../styles/abstract/basestyles';

.faqWrapper {
	width: 100%;
	margin: 5rem 0;

	.faqContainer {

		.faqItems {
		   overflow:hidden;

		   .faqs__content__answers-item {
			   background-color:$white;
			   margin-bottom: 2rem;
               min-height:1rem;
               min-height:0;
			   border: 1px solid #E3EAED;
			   padding:2rem 3.4rem;
			   padding-bottom:2rem;

			    &__button {
					outline: none;
					border: none;
					background: transparent;
					padding-bottom: .6rem;
					width: 100%;
					cursor: pointer;
					transition: all 0.3s ease;
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					text-align: start;
			        background-color:$white;
					overflow:hidden;
				}

				&__icon {
					transition: transform 0.3s ease;

					&.rotate {
						transition: transform 0.3s ease;
						transform: rotate(90deg);
					}

					&.rotateBack {
						transition: transform 0.3s ease;
						transform: rotate(0deg);
					}
				}

				&__content {
					overflow: auto;
					transition: max-height 0.6s ease;
					max-height: 0;

					&.inactive {
						transition: max-height 0.6s ease;
						max-height: 0;
					}

					p {
			        padding-bottom:2rem;
					}
				}
		   }
		}

		.faqGallery {
			display:grid;
			grid-template-columns:repeat(2,1fr);
			grid-gap:16px;
			width:100%;

			&__item {
				height:17.8rem;
				border-radius: 10px;
				justify-content:flex-end;
				padding:1.6rem;


				&.item-1 {
					background: linear-gradient(180deg,
					 rgba(0, 0, 0, 0) 54.21%, #000000 100%), url('../../assets/img/faq1.png');
				}

				&.item-2 {
					background: linear-gradient(180deg,
					 rgba(0, 0, 0, 0) 54.21%, #000000 100%), url('../../assets/img/faq2.png');
				}

				&.item-3 {
					background: linear-gradient(180deg,
					 rgba(0, 0, 0, 0) 54.21%, #000000 100%), url('../../assets/img/faq2.png');
				}

				&.item-4 {
					background: linear-gradient(180deg,
					 rgba(0, 0, 0, 0) 54.21%, #000000 100%), url('../../assets/img/faq1.png');
				}
			}
		}
	}
}
