.transportTypeHeader{
  width: 100%;
  display: flex;
  justify-content:flex-start;
  align-items:center;
  margin-bottom: 5rem;

  .transportTypeText{
    margin-left: 3rem;
    h1{
      font-weight: 600;
      margin: 0;
    }
    p{
      margin: 0;
    }
  }
}
.transportTypeform{
  width: 100%;

  .typeOfOperation{
    width: 100%;

    .radioBtnWrapper{
      display: flex;
      justify-content: space-between;

      .radioBtnItem{
        padding:6rem 0rem;
        width: 13.5rem;
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center;
        align-items: center;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;

        .radioIcon{
          font-size: 4rem;
        }
        p{
          font-size: 10px;
        }
      }
    }
  }

  .companySizeInputWrapper{
    margin: 3rem 0 5rem 0;
  }


  .btnWrapper{
    margin-bottom: 10rem;
  }
}