@import '../../styles/abstract/basestyles';

.footerWrapper1 {
	background: #0e0d30;
	width: 100%;
	padding: 3rem 10rem;

	@include respond(tab-port) {
		padding: 4rem;
		width: 100%;
	}

	.footerTop {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;

		@include respond(lsc) {
			flex-wrap: wrap;
		}

		.footerLogoSection {
			flex-basis: 30%;

			@include respond(lsc) {
				flex-basis: 100%;
				margin-bottom: 3rem;
			}

			p.footerLogoSectionText {
				font-weight: 100;
				margin: 2rem 0;
			}

			.socialIcons {
				display: flex;
				width: 70%;
				justify-content: space-between;
				align-items: center;
				font-size: 30px;
			}
		}
		.footerLinkSection {
			flex-basis: 50%;
			display: flex;
			justify-content: space-between;
			@include respond(tab-port) {
				flex-grow: 1;
				margin-left: 5rem;
			}

			@include respond(lsc) {
				margin: 0;
			}

			@include respond(phone) {
				flex-wrap: wrap;
			}

			.footerItem {
				flex-basis: 32%;

				@include respond(phone) {
					margin-bottom: 2rem;
					flex-basis: 100%;
				}
			}

			.footerLinkFirst,
			.footerLinkSecond,
			.footerLinkThird {
				display: flex;
				flex-direction: column;

				a {
					color: #fff;
					font-weight: 200;

					&:not(:last-child) {
						margin-bottom: 1.5rem;
					}
				}
			}
		}
	}

	.footerBottom {
		width: 100%;
		text-align: center;
		margin-top: 5rem;
		p {
			color: #fff;
			font-weight: 100;
			font-size: 11px;
		}
	}
}

@media (max-width: 1024px) {
	.footerWrapper {
		background: #0e0d30;
		width: 118%;
		padding: 3rem 10rem;

		.footerTop {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: white;

			.footerLogoSection {
				flex-basis: 22%;

				p.footerLogoSectionText {
					font-weight: 100;
					margin: 2rem 0;
				}

				.socialIcons {
					display: flex;
					width: 70%;
					justify-content: space-between;
					align-items: center;
					font-size: 30px;
				}
			}
			.footerLinkSection {
				flex-basis: 50%;
				display: flex;
				justify-content: space-between;

				.footerLinkFirst,
				.footerLinkSecond,
				.footerLinkThird {
					display: flex;
					flex-direction: column;

					a {
						color: #fff;
						font-weight: 200;

						&:not(:last-child) {
							margin-bottom: 1.5rem;
						}
					}
				}
			}
		}

		.footerBottom {
			width: 100%;
			text-align: center;
			margin-top: 5rem;
			p {
				color: #fff;
				font-weight: 100;
				font-size: 11px;
			}
		}
	}
}
