.terminalsWrapper{
  width: 100%;

  .terminalsHeader{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;

    .leftHeader{
      flex-basis: 55%;
    }

    .rightHeader{
      flex: 1;
      display: flex;
      justify-content:space-between;
      align-items:center;

      .stateSearch{
        flex-basis: 30%;
        margin-right: 2rem;
        margin-top: 1.8rem;
      }
      .terminalSearch{
        flex-basis: 30%;
        margin-right: 2rem;
        margin-top: 1.8rem;
      }
      .addBtn{
        flex: 1;
        margin-top: -.8rem;
      }
    }
  }
  .terminalContents{
    width: 100%;
    display: flex;
    justify-content:space-between;
    gap: 2rem;

    .terminalContentLeft{
      flex-basis: 18%;
      border: 1px solid #e3eaed;
      padding: 2rem;
      border-radius: 10px;
    }
    .terminalContentRight{
      width:100%;
      flex: 1;
      .terminals{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        align-items: start;
      }

      .paginationWrapper{
        margin-top: 2rem;
        width:100%;
      }
    }
  }
}