.terminalsWrapper{
  width: 100%;

  .terminalsHeader{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;

    .leftHeader{
      flex-basis: 55%;
    }

    .rightHeader{
      flex: 1;
      display: flex;
      justify-content:space-between;
      align-items:center;

      .stateSearch{
        flex-basis: 30%;
        margin-right: 2rem;
        margin-top: 1.8rem;
      }
      .terminalSearch{
        flex-basis: 30%;
        margin-right: 2rem;
        margin-top: 1.8rem;
      }
      .addBtn{
        flex: 1;
        margin-top: -.8rem;
      }
    }
  }
  .terminalContents{
    width: 100%;
    display: flex;
    justify-content:space-between;
    gap: 2rem;

    .terminalContentLeft{
      flex-basis: 15%;
      border: 1px solid #e3eaed;
      padding: 2rem;
      border-radius: 10px;

      .terminalsCheckbox{
        display: flex;
        flex-direction: column;
      }
    }
    .terminalContentRight{
      width:100%;
      flex: 1;
      .terminals{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        align-items: start;
      }

      .paginationWrapper{
        margin-top: 2rem;
        width:100%;
      }
    }
  }
}

.ant-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 12px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -ms-inline-flexbox;
  display: inline-flex;
}