@import '../../../atoms/styles/basestyles';

@mixin li-tab {
	li {
		@include flex-center;
		@include font-normal(1.6rem, 2rem, $black);

		flex-basis: 25%;
		flex-grow: 1;
		flex-shrink: 1;
		padding: 2rem;

		@include respond(lsc) {
			flex-basis: 100%;
		}

		&:not(:last-child) {
			border-right: 1px solid $grey;

			@include respond(lsc) {
				border-right: 0;
				border-bottom: 1px solid $grey;
			}
		}

		a {
			color: $black;
		}

		select {
			background-color: transparent;
			border: 0;
			padding: 0;
			padding-right: 1rem;

			option {
				@include font-normal(1.5rem, 2rem, $black);
			}
		}

		svg {
			margin: 0 1.5rem;
		}

		.btn {
			color: $black;
		}
	}
}

.hero {
	&__header {
		background-color: $brand1;
		height: 38rem;
		padding: 9rem 14rem;
		position: relative;

		@include respond(tab-port) {
			height: auto;
			padding: 4rem;
			padding-bottom: 8rem;
		}

		h2 {
			@include font-bold(4.8rem, 6rem, $white);

			font-weight: 800;
		}
	}
}

.herotab {
	bottom: 0;
	left: 14rem;
	position: absolute;

	@include respond(tab-port) {
		left: 4rem;
		width: calc(100% - 4rem);
	}

	.btn {
		&:first-child {
			border-radius: 8px 0 0;
		}

		&:last-child {
			border-radius: 0 8px 0 0;
		}

		&:hover,
		&.active,
		&:focus {
			background-color: $white;
			color: $brand1;
			outline: none;
		}

		&.btn-white {
			background-image: none;

			&.active {
				background-color: $white;
			}
		}
	}
}

.herotab--content {
	margin: 0 14rem;
	min-height: 5rem;

	@include respond(tab-port) {
		margin: 0 4rem;
	}

	ul {
		@include li-tab;

		@include respond(lsc) {
			flex-wrap: wrap;
		}

		@include respond(phone) {
			flex-direction: column;
			flex-wrap: nowrap;
		}
	}
}

.hero--tab--content {
	margin: 0 14rem;
	box-shadow: 2px 15px 30px 10px rgba(43, 43, 59, 0.05);
	border-radius: 0px 0px 10px 10px;

	@include respond(tab-port) {
		margin: 0 4rem;
	}

	ul {
		@include respond(lsc) {
			flex-wrap: wrap;
		}

		@include li-tab;
	}
}
