.card-title {
	margin-bottom: 3em;

	h4 {
		margin-bottom: 0.5em;
	}

	.col-2 {
		margin-left: 1.5em;
	}
}

.input-group {
	margin-bottom: 3em;
}

.verification-text {
	margin: 2em 0;
	margin-bottom: 4em;
}
