.tripcard-wrapper {
	border: 1px solid #e3eaed;
	border-radius: 10px;
	margin-top: 2em;
}

.top-card {
	align-items: center;
	border-bottom: 1px solid #e3eaed;
	display: flex;
	justify-content: space-between;
	padding: 2em;

	@media (max-width: 576.98px) {
		padding: 1em;
	}
}

.first-trip-column {
	flex: 1;

	@media (max-width: 576.98px) {
		display: none;
	}
}

.second-trip-column {
	flex: 2;

	.share {
		text-align: right;

		svg {
			cursor: pointer;
		}
	}
}

.bottom-card {
	align-items: center;
	display: flex;
	font-size: 0.8rem;
	font-weight: bold;
	justify-content: space-between;
	padding: 2em;

	ul {
		list-style-type: none;

		li {
			align-items: center;
			display: flex;
			margin-bottom: 0.7em;

			span {
				margin-left: 0.5em;
			}
		}
	}

	.vehicle-specs {
		color: #637a87;
	}

	.trip-info {
		color: #323d44;
	}

	.amount {
		text-align: right;

		h2 {
			color: #000;
			font-size: 1.5rem;
			font-weight: 500;
			margin: 0;
		}

		p {
			color: #323d44;
			margin: 1em 0;
		}

		small {
			background: #f8eac2;
			border-radius: 100px;
			color: #c76100;
			padding: 6px 16px;
		}

		@media (max-width: 1024.98px) {
			font-size: 0.6rem;
		}
	}

	.button-container {
		button {
			align-items: center;
			border: 0;
			border-radius: 6px;
			cursor: pointer;
			display: flex;
			font-size: 1rem;
			height: 44px;
			justify-content: center;
			margin-bottom: 0.5em;
			width: 143px;

			&:hover {
				opacity: 0.9;
			}

			svg {
				margin-right: 0.7em;
			}

			@media (max-width: 1024.98px) {
				font-size: 0.6rem;
				height: 30px;
				width: 100px;
			}
		}

		.book-trip {
			background: linear-gradient(180deg, #fade90 0%, #f3b348 93.23%, #cb820b 100%);
			color: #323d44;
			font-weight: 500;
			letter-spacing: 0.45px;
			text-transform: uppercase;
		}

		.save {
			background: linear-gradient(180deg, #fefefe 0%, #e4e4e4 100%);
			color: #323d44;
			font-weight: bold;
		}
	}

	@media (max-width: 576.98px) {
		display: none;
	}
}

.mobile-card {
	align-items: center;
	display: flex;
	font-size: 0.8rem;
	font-weight: bold;
	justify-content: space-between;
	padding: 1em;

	.amount {
		text-align: right;

		h2 {
			color: #000;
			font-size: 1.5rem;
			font-weight: 500;
			margin: 0;
		}

		p {
			color: #323d44;
			margin: 1em 0;
		}

		small {
			background: none;
			border-radius: 100px;
			color: #c76100;
			padding: 0;
		}
	}

	@media (min-width: 576.98px) {
		display: none;
	}
}
