.ant-input-affix-wrapper > input.ant-input {
  padding: 0;
  border: none;
  outline: none;
  font-size: 13px !important;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
  padding: 5px 11px !important;
  line-height: 2rem;
}

.ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
  height: 47px !important;
  font-size: 13px !important;
}

.ant-upload-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  line-height: 1.5715;
  display: inline-block !important;
}

.ant-upload-list-item-error .ant-upload-list-item-name {
  color: #FFBC00 !important;
}
.ant-upload-list-item-error, .ant-upload-list-item-error .ant-upload-text-icon > .anticon, .ant-upload-list-item-error .ant-upload-list-item-name {
  color: #FFBC00 !important;
}
.ant-upload-list-item-error .ant-upload-list-item-card-actions .anticon {
  color: #FFBC00 !important;
}

.formInputNumberElement{
  padding: 6px !important;
  width: 100%;

  &::placeholder {
    font-size: 13px !important;
  }
}

.formInputElement{
  padding: 1.4rem !important;
  width: 100% !important;

  &::placeholder {
    font-size: 13px !important;
  }
}
.otpInputElement{
  padding: 4rem !important;
  background-color: #F8EAC2 !important;
  text-align: center !important;
  font-weight: bold;
  font-size: 5rem;
}
.submitButtonPrimary{
    background: linear-gradient(180deg, #FADE90 0%, #F3B348 93.23%, #CB820B 100%) !important;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    touch-action: manipulation;
    font-size: 15px;
    color:#323D44;
    border-radius: 6px !important;
    outline: none;
    border: none;
    transition:all .2s ease-out;
    width: 100%;
    padding: 1.7rem 0;
    margin: .5rem 0;
    
    &:active{
      outline: none;
      border: none;
    }
}

.submitButtonPrimary .ant-spin-dot-item {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  background-color: #000000 !important;
  border-radius: 100%;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.3;
  -webkit-animation: antSpinMove 1s infinite linear alternate;
  animation: antSpinMove 1s infinite linear alternate;
}

.submitButtonSecondary{
  background: linear-gradient(180deg, #FEFEFE 0%, #E4E4E4 100%) !important;
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  font-size: 15px;
  color:#323D44;
  border-radius: 6px !important;
  outline: none !important;
    border: none !important;
  transition:all .2s ease-out;
  width: 100%;
  padding: 1rem 0;
  margin: .5rem 0;

  &:active{
    outline: none !important;
    border: none !important;
  }
  &:focus{
    outline: none !important;
    border: none !important;
  }
}

.selectElement{
  border-radius: 10px !important;
  background: red !important;
}

.ant-input-search-button {
  height: 47px !important;
  width: 50px !important;
}

.outlinedBtn{
  padding: 1rem 3rem;
  border-radius: 30px;
  border: 1px solid #c0bfbf;
  background-color: transparent;
  outline: none;

  &:active{
    outline: none;
  }
}