.dropdown-wrapper {
	position: relative;
}

.dropdown-title {
	align-items: center;
	cursor: pointer;
	display: flex;

	p {
		font-weight: 400;
		margin-right: 0.5em;
	}

	@media (max-width: 1024.98px) {
		p {
			font-size: 12px !important;
		}
	}

	@media (max-width: 768.98px) {
		p,
		svg {
			z-index: -1;
		}

		p {
			color: white;
		}
	}
}

.dropdown-links {
	background: white;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.03);
	position: absolute;
	right: 0;
	top: 50;

	ul {
		flex-direction: column;
		z-index: 1;

		li {
			display: block;
			margin-right: 0 !important;
		}

		a {
			display: inline-block;
			padding: 1.5em 4em;

			&:hover {
				background: lightgray;
				border-bottom: 0 !important;
			}
		}
	}
}
