@import '../../styles/abstract/basestyles';



.emptyScreenWrapper {
    width: 100%;
    margin-top: 5rem;
    @include flexCenter;

    .emptyScreen {
       @include flexCenter;
       flex-direction:column;
       text-align:center;

       .btn{
        width: 100%;
      }
    }  

}