.ant-modal-confirm-btns{
display:none;
}
.ant-modal-confirm-content{
  text-align: center;
}
.ant-modal-confirm-success .ant-modal-confirm-body > .anticon {
  color: #F9CA45;
  font-size: 30px;
  display:flex;
  align-items: center;
  margin-top: .8rem;
}