.contentWrapper{
    width: 100%;

.layoutContainer {
    width: 100%;
    &.ant-layout {
        padding: 59px 130px;
        background: #fff;
    }

    
    .tableHeader {
        margin-bottom: 20px;
    }
    .ant-input-number {
        width: 100%;
        border: 1px solid rgba(168, 168, 168, 0.32);
        line-height: 34px !important;
        border-radius: 5px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #000000;
    }
    .ant-input {
        border: 1px solid rgba(168, 168, 168, 0.32);
        height: 47px;
        border-radius: 5px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    .ant-picker {
        border: 1px solid rgba(168, 168, 168, 0.32);
        height: 47px;
        border-radius: 5px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    .ant-select {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        .ant-select-selector {
            border-radius: 5px !important;
            height: 47px !important;
            display: flex;
            align-items: center;
        }
    } 
    .ant-checkbox-wrapper {
        margin-bottom: 15.5px;
        .ant-checkbox + span {
            padding-left: 16px;
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
        .ant-checkbox {
            .ant-checkbox-inner {
                width: 24px;
                height: 24px;
                border-color: #FFBC00;
            }
            &.ant-checkbox-checked .ant-checkbox-inner {
                background-color: #FFBC00;
            }
            .ant-checkbox-inner::after {
                left: 30%;
            }
        }
      }
    }
    .footerSection{
        width: 100vw;
    }

}


//media queries max-width:1024px
@media (max-width:1024px){
  .contentWrapper{
      width: 100%;
      position: relative;
    .layoutContainer {
        margin-bottom: 15rem;
        &.ant-layout {
            padding: 59px 30px;
            background: #fff;
            width: calc(100% + 180px);
        } 
    }
    .footerSection{
        width: 100vw;
        position: absolute;
        bottom: -700px;
    }
  }
}

//media queries max-width:768px
@media (max-width:768px){
    .contentWrapper{
        width: 100%;
        position: relative;
      .layoutContainer {
          margin-bottom: 15rem;
          &.ant-layout {
              padding: 59px 30px;
              background: #fff;
              width: calc(100% + 680px);
          } 
      }
      .footerSection{
          width: 100vw;
          position: absolute;
          bottom: -1000px;
          width: calc(100% + 480px);
      }
    }
  }

  //media queries max-width:414px
@media (max-width:414px){
    .contentWrapper{
        width: 100%;
        position: relative;
      .layoutContainer {
          &.ant-layout {
              padding: 59px 30px;
              background: #fff;
              width: calc(100% + 670px ) !important;
          } 
      }
      .footerSection{
          width: 100vw;
          position: absolute;
          bottom: -1100px;
          width: calc(100% + 510px);
      }
    }
  }


  //media queries max-width:375px
@media (max-width:375px){
    .contentWrapper{
        width: 170%;
        position: relative;
      .layoutContainer {
          &.ant-layout {
              padding: 59px 30px;
              background: #fff;
              width: calc(100% + 700px ) !important;
          } 
      }
      .footerSection{
          width: 100vw;
          position: absolute;
          bottom: -1500px;
          width: calc(100% + 540px);
      }
    }
  }

button.ant-btn-primary {
    border: none;
    padding: 12px 32px;
    background: linear-gradient(180deg, #FADE90 0%, #F3B348 93.23%, #CB820B 100%);
    border-radius: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    height: auto;

    letter-spacing: 0.45px;
    text-transform: uppercase;
    color: #323D44;
    &:hover, &:focus {
        background: linear-gradient(180deg, #ebc55d 0%, #ca8f28 93.23%, #83550b 100%);
        color: #323D44;
    }

    
}

