//fonts
$primary-font: 'Inter', sans-serif;
$bold-font: 'Inter';
$light: 'Inter';

//colors
$blue: #19194a;
$blue-dark: #0e0d30;
$blue-light: #19194a;
$black: #323d44;
$near-white: #fafafa;
$white: white;
$near-white: #eff1f5;
$grey-dark: #637a87;
$grey: #637a87;
$grey-light: #f6f8f9;
$brand1: #240555;
$brand2: #ffbc00;
$brand3: #ffd301;
$success: #2e7b32;
$danger: #d90855;
$warning: #ff9633;
$warm-bg: #f7f9f8;

$grey-c: #ccc;
$grey-4: #c4c4c4;
$grey-3: #333;
$grey-9: #999;
$grey-6: #666;
$purple: #e5ebff;
$border: 1px solid #e6e6e6;
