.tripPackagesWrapper{
  width: 100%;
  margin-bottom: 10rem;
  padding: 10rem 0px 10rem 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;

  .tripPackageLeft{
    flex-basis: 25%;
    margin-right: 2rem;

    h1{
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 44px;
      color: #323D44;
      width: 191px;
    }

    p{
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 25px;
      color: #637A87;
      width: 414px;
      margin-top: 2rem;
    }

    .directionArrowsWrapper{
      margin-top: 4rem;
      img{
        cursor: pointer;

        &:not(:last-child){
          margin-right: 5rem;
        }
      }
    }
  }
  .tripPackageRight{
    flex: 1;
    .scrollWrapper{
      max-width: 1200px;
      overflow-x: hidden;
    }
  }
}