.addVehicleWrapper {
    .addVehicle {
        height: 100%;
        padding: 32px 48px;
        border: 0px;
        border: 1px solid #f0f0f0;
        .ant-card-body {
            padding: 0px;
        }
    }
    .mt-74 {
        margin-top: 74px;
    }
}